<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">

  <!-- Directory structure -->
  <Fragment>

    <!-- Program Files: assembly installation -->
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="OlympeDir" Name="Olympe">
        <Directory Id="INSTALLFOLDER" Name="MaterialManager">
          <Directory Id="Net48Dir" Name="net48" />
          <Directory Id="Net8Dir" Name="net8.0-windows" />
        </Directory>
      </Directory>
    </StandardDirectory>

    <!-- AppData: per-user .addin file locations -->
    <StandardDirectory Id="AppDataFolder">
      <Directory Id="AutodeskDir" Name="Autodesk">
        <Directory Id="RevitDir" Name="Revit">
          <Directory Id="AddinsDir" Name="Addins">
            <Directory Id="Addins2023" Name="2023" />
            <Directory Id="Addins2024" Name="2024" />
            <Directory Id="Addins2025" Name="2025" />
            <Directory Id="Addins2026" Name="2026" />
          </Directory>
        </Directory>
      </Directory>
    </StandardDirectory>

  </Fragment>

  <!-- Shared net48 assemblies (Revit 2023 + 2024) -->
  <Fragment>
    <ComponentGroup Id="Net48Assemblies" Directory="Net48Dir">
      <Files Include="$(var.StagingDir)\net48\**" />
    </ComponentGroup>
  </Fragment>

  <!-- Revit 2023 .addin component -->
  <Fragment>
    <Component Id="Revit2023Addin" Directory="Addins2023"
               Guid="A8C3F291-5D74-4E62-B8A1-9F0E12D36C85">
      <File Id="Addin2023File"
            Source="addin\OlympeMaterialManager.2023.addin"
            Name="OlympeMaterialManager.addin"
            KeyPath="no" />
      <!-- PKG-06 : reecrit <Assembly> avec le dossier d'installation reel
           au lieu du chemin C:\Program Files\... fige dans le fichier source -->
      <util:XmlFile Id="SetAssemblyPath2023"
                    File="[#Addin2023File]"
                    Action="setValue"
                    ElementPath="/RevitAddIns/AddIn/Assembly"
                    Value="[INSTALLFOLDER]net48\OlympeMaterialManager.dll"
                    Permanent="yes" />
      <RegistryValue Root="HKCU"
                     Key="Software\Olympe\MaterialManager"
                     Name="Revit2023Installed"
                     Type="integer" Value="1"
                     KeyPath="yes" />
      <RemoveFolder Id="RemoveAddins2023" On="uninstall" />
    </Component>
  </Fragment>

  <!-- Revit 2024 .addin component -->
  <Fragment>
    <Component Id="Revit2024Addin" Directory="Addins2024"
               Guid="1ECD2C68-EE1A-4B7D-B0D7-355F83A34079">
      <File Id="Addin2024File"
            Source="addin\OlympeMaterialManager.2024.addin"
            Name="OlympeMaterialManager.addin"
            KeyPath="no" />
      <!-- PKG-06 : reecrit <Assembly> avec le dossier d'installation reel -->
      <util:XmlFile Id="SetAssemblyPath2024"
                    File="[#Addin2024File]"
                    Action="setValue"
                    ElementPath="/RevitAddIns/AddIn/Assembly"
                    Value="[INSTALLFOLDER]net48\OlympeMaterialManager.dll"
                    Permanent="yes" />
      <RegistryValue Root="HKCU"
                     Key="Software\Olympe\MaterialManager"
                     Name="Revit2024Installed"
                     Type="integer" Value="1"
                     KeyPath="yes" />
      <RemoveFolder Id="RemoveAddins2024" On="uninstall" />
    </Component>
  </Fragment>

  <!-- Shared net8.0-windows assemblies (Revit 2025 + 2026) -->
  <Fragment>
    <ComponentGroup Id="Net8Assemblies" Directory="Net8Dir">
      <Files Include="$(var.StagingDir)\net8.0-windows\**" />
    </ComponentGroup>
  </Fragment>

  <!-- Revit 2025 .addin component -->
  <Fragment>
    <Component Id="Revit2025Addin" Directory="Addins2025"
               Guid="7675ACE1-F35D-4371-9182-D0DD32929BA5">
      <File Id="Addin2025File"
            Source="addin\OlympeMaterialManager.2025.addin"
            Name="OlympeMaterialManager.addin"
            KeyPath="no" />
      <!-- PKG-06 : reecrit <Assembly> avec le dossier d'installation reel -->
      <util:XmlFile Id="SetAssemblyPath2025"
                    File="[#Addin2025File]"
                    Action="setValue"
                    ElementPath="/RevitAddIns/AddIn/Assembly"
                    Value="[INSTALLFOLDER]net8.0-windows\OlympeMaterialManager.dll"
                    Permanent="yes" />
      <RegistryValue Root="HKCU"
                     Key="Software\Olympe\MaterialManager"
                     Name="Revit2025Installed"
                     Type="integer" Value="1"
                     KeyPath="yes" />
      <RemoveFolder Id="RemoveAddins2025" On="uninstall" />
    </Component>
  </Fragment>

  <!-- Revit 2026 .addin component -->
  <Fragment>
    <Component Id="Revit2026Addin" Directory="Addins2026"
               Guid="B3E14167-7B9A-4524-9F22-E1D0FFD4C477">
      <File Id="Addin2026File"
            Source="addin\OlympeMaterialManager.2026.addin"
            Name="OlympeMaterialManager.addin"
            KeyPath="no" />
      <!-- PKG-06 : reecrit <Assembly> avec le dossier d'installation reel -->
      <util:XmlFile Id="SetAssemblyPath2026"
                    File="[#Addin2026File]"
                    Action="setValue"
                    ElementPath="/RevitAddIns/AddIn/Assembly"
                    Value="[INSTALLFOLDER]net8.0-windows\OlympeMaterialManager.dll"
                    Permanent="yes" />
      <RegistryValue Root="HKCU"
                     Key="Software\Olympe\MaterialManager"
                     Name="Revit2026Installed"
                     Type="integer" Value="1"
                     KeyPath="yes" />
      <RemoveFolder Id="RemoveAddins2026" On="uninstall" />
    </Component>
  </Fragment>

</Wix>
