<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

  <Package Name="Olympe MaterialManager"
           Version="$(var.Version)"
           Manufacturer="Olympe"
           UpgradeCode="0FFD79DA-9EB1-4D42-9F3C-9B5CDFD98FFE"
           InstallerVersion="500"
           Scope="perMachine"
           Compressed="yes">

    <MajorUpgrade DowngradeErrorMessage="Une version plus recente d'Olympe MaterialManager est deja installee." />
    <MediaTemplate EmbedCab="yes" />

    <!-- Installe toutes les versions par defaut (Alpha) -->
    <Feature Id="Complete" Title="Olympe MaterialManager" Level="1">
      <ComponentGroupRef Id="Net48Assemblies" />
      <ComponentGroupRef Id="Net8Assemblies" />
      <ComponentRef Id="Revit2023Addin" />
      <ComponentRef Id="Revit2024Addin" />
      <ComponentRef Id="Revit2025Addin" />
      <ComponentRef Id="Revit2026Addin" />
    </Feature>

  </Package>
</Wix>
